[workspace]
members = ["programs/*"]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[patch.crates-io]
# Pin constant_time_eq to version that doesn't require edition 2024
constant_time_eq = "=0.3.1"
